{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Служебная</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "index" %}">Векторный поиск</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "bool" %}">Булев поиск</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url "options" %}">Служебная</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <form style="margin-top: 100px" action="{% url "generate" %}">
            <h2>Генерация статей</h2>
            <div class="form-group">
                <label for="exampleInputEmail1">Количество</label>
                <input type="number" name="amount" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="100">
            </div>
            <button type="submit" class="btn btn-warning">Сгенерировать</button>
        </form>
        <h3 style="margin-top: 50px"><a class="text-warning" href="{% static "web_pages.txt" %}">Просмотреть список статей</a></h3>
        <h3 style="margin-top: 50px"><a class="text-warning" href="{% url "articles" %}">Просмотреть статьи</a></h3>
        <h3 style="margin-top: 50px"><a class="text-warning" href="{% url "download" %}">Загрузить сгенерированные статьи</a></h3>
        <h3 style="margin-top: 50px"><a class="text-warning" href="{% url "delete" %}">Удалить сгенерированные статьи</a></h3>
        <h3 style="margin-top: 50px"><a class="text-warning" href="{% url "gen_index" %}">Сгенерировать index.txt</a></h3>
        <hr>
        <h2 style="margin-top: 50px">Булев поиск</h2>
        <h3 style="margin-top: 50px"><a class="text-warning" href="{% static "inv_index.txt" %}">Просмотреть файл инвертированного индекса</a></h3>
        <h3 style="margin-top: 50px"><a class="text-warning" href="{% url "inv_index" %}">Сгенерировать инвертированный индекс</a></h3>
        <hr>
        <h2 style="margin-top: 50px">Векторный поиск</h2>
        <h3 style="margin-top: 50px"><a class="text-warning" href="{% static "tf_idf_index.txt" %}">Просмотреть файл TF-IDF индекса</a></h3>
        <h3 style="margin-top: 50px; margin-bottom: 100px"><a class="text-warning" href="{% url "tf_idf" %}">Сгенерировать TF-IDF индекс</a></h3>
    </div>
</body>
</html>